@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body{
    /* padding: 0;
    margin: 0; */
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}

.card{
    height: 350px;
    width: 400px;
    min-width: 250px;
    background-color: #17141d;    
    box-shadow: -1rem 0 3rem #000;
    border-radius: 1.5rem;
    padding: 1.5rem;
    
}

.author-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
}

.card-author{
    display: grid;
    grid-template-columns: 75px 1fr;
    margin-top: 3rem;
}

.author-name-prefix {
    font-weight: 700;
    color: #7a7a8c;
}

.card-list{
    display: flex;
    margin: 3rem;
}